
body {
    font-family: 'Arial', sans-serif;
    margin: 20px;
    background: linear-gradient(135deg, #FFB996,#864AF9 );
}

h1 {
    color: #333;
    
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

p {
    color: #777;
}
.btn {
          display: inline-block;
          padding: 8px 16px;
          font-size: 14px;
          text-align: center;
          text-decoration: none;
          background-color: #28a745;
          color: #fff;
          border-radius: 4px;
      }
.btn-warning {
          color: #212529;
          background-color: #ffc107;
          border-color: #ffc107;
}

.text-right {
    text-align: right;
   background: linear-gradient(135deg, #FFB996,#864AF9 );
   color:orange;
    margin-top: 20px;
}
